@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Inter:wght@400;600;700&family=Oswald:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  background-color: #0B0B0B;
  color: #F6F5F3;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* F1 Inspired Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  /* Horizontal Height */
}

::-webkit-scrollbar-track {
  background: #0B0B0B;
}

::-webkit-scrollbar-thumb {
  background: #E10600;
  border-radius: 5px;
  border: 2px solid #0B0B0B;
  /* Padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff1e1e;
}